<div>
  <img src="https://it.enge.vt.edu/img/1.png" alt="Headshot of Caleb">
  <p>
    Hi, I'm <strong>Caleb</strong>. I'm an IT manager based in Virginia.
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
